.homePage{
    width: 100%;
    height: 80%;
    background-color: beige !important;
    // background-image: url("/../src/img/cowboyInBar.jpeg");
    // background-repeat: no-repeat;
    // background-size: contain;
    opacity: 90%;
}