.footer{

    background-color: black;
    display: flex;
    flex-direction: row;
    // margin-top: 5%;
    height: 10%;
    color:white;

    .footerLeft{
        flex: 1;  
        display: flex;
        align-items: center;
        justify-content: start;

    }

    .footerRight{
        flex: 1;
        display: flex;    
        align-items: center;
        justify-content: end;

        font-size: 1em;

        .logo{

            height: 1em;
            width: 5%;
        }

    }

}
    